@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Animasi slideRightText hanya untuk teks */
@keyframes slideRightText {
  from {
    transform: translateX(-300%); /* Mulai dari luar layar sebelah kiri */
  }
  to {
    transform: translateX(0); /* Menuju posisi normal */
  }
}


body {
  margin: 0;
  padding: 0 20%;
  font-family: "Poppins", sans-serif;
  background-color: #eff6ff;
  color: #190069;
}

/* judul */
/* judul */
.judul-halaman {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 40px;
  display: flex;
  justify-content: flex-start; /* Posisikan konten ke kiri */
  align-items: center; /* Posisikan konten secara vertikal di tengah */
}

.judul-halaman img {
  height: 20px;
  margin-left: 20px;
  margin-right: -10px;
  animation: slideRightText 1s ease-in-out; /* Gunakan animasi slideRight untuk teks */
}

.judul-halaman h1 {
  color: #190069;
  padding: 20px;
  font-size: 20px;
  animation: slideRightText 1.2s ease-in-out; /* Gunakan animasi slideRight untuk teks */
}

/* resset pw */
.reset {
  animation: blurIn 3s ease-in-out;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1); /* Bayangan yang jatuh ke bawah */
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  transition: background-color 1s, color 1s;
}

.reset:active, 
.reset:hover {
  background-color: #190069;
}

.reset:hover a {
  color: #f4f4f4;
}


.reset a {
  color: #190069;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.help {
  animation: blurIn 3s ease-in-out;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1); /* Bayangan yang jatuh ke bawah */
  display: grid;
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 1s, color 1s;
}

.help:active, 
.help:hover {
  background-color: #190069;
}

.help:hover a {
  color: #f4f4f4;
}

.help a {
  margin-bottom: 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  color: #190069;
}

/* responsivbe */
@media screen and (max-width: 768px) {
  /* Stil CSS untuk layar berukuran 768px atau lebih kecil (mobile) */
  body {
    padding: 0;
  }

  .navigasi {
    max-width: calc(100%);
    width: 100%;
  }
}
