body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #eff6ff;
  color: #190069;
}

/* judul */
/* judul */
.judul-halaman {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 40px;
  display: flex;
  justify-content: flex-start; /* Posisikan konten ke kiri */
  align-items: center; /* Posisikan konten secara vertikal di tengah */
}

.judul-halaman img {
  height: 20px;
  margin-left: 20px;
  margin-right: -10px;
  animation: slideRightText 0.5s ease-in-out; /* Gunakan animasi slideRight untuk teks */
}

.judul-halaman h1 {
  color: #190069;
  padding: 20px;
  font-size: 20px;
  animation: slideRightText 1.2s ease-in-out; /* Gunakan animasi slideRight untuk teks */
}

/* resset pw */
.reset {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1); /* Bayangan yang jatuh ke bawah */
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.reset a {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.help {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1); /* Bayangan yang jatuh ke bawah */
  display: grid;
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.help a {
  margin-bottom: 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ffbf00;
}

/* Animasi slideRightText hanya untuk teks */
@keyframes slideRightText {
  from {
    transform: translateX(-200%); /* Mulai dari luar layar sebelah kiri */
  }
  to {
    transform: translateX(0); /* Menuju posisi normal */
  }
}
