/* animasi blur untuk content */
@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Animasi slideRightText hanya untuk teks */
@keyframes slideRightText {
  from {
    transform: translateX(-200%); /* Mulai dari luar layar sebelah kiri */
  }
  to {
    transform: translateX(0); /* Menuju posisi normal */
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #eff6ff;
  color: #190069;
}

/* judul */
/* judul */
.judul-halaman {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 40px;
  display: flex;
  justify-content: flex-start; /* Posisikan konten ke kiri */
  align-items: center; /* Posisikan konten secara vertikal di tengah */
}

.judul-halaman img {
  height: 20px;
  margin-left: 20px;
  margin-right: -10px;
  animation: slideRightText 0.5s ease-in-out; /* Gunakan animasi slideRight untuk teks */
}

.judul-halaman h1 {
  color: #190069;
  padding: 20px;
  font-size: 20px;
  animation: slideRightText 1.2s ease-in-out; /* Gunakan animasi slideRight untuk teks */
}

/* CONTENT */

/* nav */
.nav {
  height: max-content;
  width: auto;
  margin: 15px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  animation: blurIn 3s ease-in-out;
}

.nav a {
  margin: 0;
  padding: 10px 55px 10px 55px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #bac3d0;
}
/* Warna tautan aktif */
.nav-link.active {
  color: #190069;
}

/* to top */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  opacity: 0.8;
}

html {
  scroll-behavior: smooth;
}

/* |||||   KHS   ||||| */
/* SMT1 */
.SMT1 {
  animation: blurIn 3s ease-in-out;
  margin: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(172, 162, 216, 0.729);
  border-radius: 15px;
}

/* judul semester */
.judul-smt-1 {
  padding: 15px;
}
.judul-smt-1 p {
  font-size: 13px;
}

/* background abu-abu di belakang matkul */
.bg-matkul-1 {
  animation: blurIn 2.5s ease-in-out;
  background-color: #dbd9ea;
  padding: 20px 0 1px 0;
  border-radius: 0 0 15px 15px;
}

/* daftar matkul */
.card {
  margin: 0 20px 20px 20px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}

/* nama matkul */
#nm {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
}

/* kelompok */
.kelompok {
  padding: 5px;
  background-color: #efc956;
  width: max-content;
  height: max-content;
  border-radius: 7px;
}

.kelompok p {
  font-size: 10px;
  margin: 0;
}

.card img {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  height: 10px;
}

/* dosen pengampu */
#dp {
  font-size: 10px;
}

/* nilai */
.nilai {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tugas {
  text-align: center;
}
.tugas p {
  font-size: 10px;
}
#tugas {
  margin: 0;
  font-size: 20px;
}

.UTS {
  text-align: center;
}
.UTS p {
  font-size: 10px;
}
#UTS {
  margin: 0;
  font-size: 20px;
}

.UAS {
  text-align: center;
}
.UAS p {
  font-size: 10px;
}
#UAS {
  margin: 0;
  font-size: 20px;
}

.N-AKHIR {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #86efac;
}
.N-AKHIR p {
  font-size: 10px;
}
#N-AKHIR {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 20px;
}

.toggle-button-krs-smt-1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 20px;
  background-color: transparent; /* sesuaikan dengan warna latar belakang */
  border: 1px solid #ccc; /* sesuaikan dengan warna border yang diinginkan */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
/* Ganti dengan ikon baca selengkapnya dan tutup */
.toggle-button-krs-smt-1 I {
  transition: transform 10s ease;
}

/*|||||  DAFTAR NILAI  |||||*/
.ipk-sks {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  animation: blurIn 3s ease-in-out;
}

.ipk {
  height: max-content;
  margin-right: 20px;
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.ipk p{
  margin: 0;
  font-size: 10px;
}
#ipk {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.sks {
  height: max-content;
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.sks p{
  margin: 0;
  font-size: 10px;
}
#sks {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

/* total nilai */
.total-nilai {
  height: max-content;
  width: auto;
  margin: 15px;
  background-color: #e5e5e599;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  animation: blurIn 3s ease-in-out;
}

.left {
  width: 100%;
  height: max-content;
  margin-right: 20px;
}

.right {
  width: 100%;
  height: max-content;
}

.a {
  padding: 0 20px 0 20px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-weight: 500;
}

.a-end {
  padding: 0 20px 0 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-weight: 500;
}

.jumlah-a {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #86efac;
}

.jumlah-b {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #86efac;
}

.jumlah-c {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #fde047;
}

.jumlah-d {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #fca5a5;
}

.jumlah-e {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #ef4444;
}

.jumlah-ab {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #86efac;
}

.jumlah-bc {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: #fde047;
}

/* daftar nilai mata kuliah */
.daftar-nm {
  margin: 15px;
  animation: blurIn 3s ease-in-out;
}

.jd p{
  margin-top: 30px;
  font-size: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

#nama-matkul {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
}
#kode {
  margin-top: 0;
  font-size: 10px;
}

.list img {
  height: 8px;
  margin: 0 5px 0 5px;
}

/* keterangan nilai */

/* KUNING (BC.C) */
.ket-nilai-kuning {
  margin: 20px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fde047;
}

.ket-nilai-kuning p{
  font-weight: 600;
  margin: 0;
  padding: 0 5px 0 5px;
}

/* HIJAU (A,AB)*/
.ket-nilai-hijau {
  margin: 20px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #86efac;
}

.ket-nilai-hijau p{
  margin: 0;
  padding: 0 5px 0 5px;
  font-weight: 600;
}

/* pink (D)*/
.ket-nilai-pink {
  margin: 20px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fca5a5;
}

.ket-nilai-pink p{
  margin: 0;
  padding: 0 5px 0 5px;
  font-weight: 600;
}

/* merah (E)*/
.ket-nilai-merah {
  margin: 20px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #ef4444;
}

.ket-nilai-merah p{
  margin: 0;
  padding: 0 5px 0 5px;
  font-weight: 600;
}
